---
const { label } = Astro.props;
---

<div
  class="flex justify-center items-center w-[56px] h-[56px] rounded-full bg-primary-blue border-4 border-primary-blue text-white text-3xl font-bold uppercase p-1 shadow"
>
  <div>
    <span>{label}</span>
  </div>
</div>
