---
import { Phone } from "@lucide/astro"
---
<div class="absolute w-auto">
  <a
    href="tel:+51 961 853 894"
    target="_blank"
    rel="noopener noreferrer"
    class="fixed cursor-pointer flex rounded-full justify-center items-center bg-primary-blue w-[80px] h-[80px] bottom-[380px] right-[20px] z-[99999999999] text-white hover:underline shadow-lg"
  >
    <Phone size={42} />
  </a>
</div>
