---
import { Cross } from "@lucide/astro";
---

<div
  class="after:w-[100px] after:h-[2px] after:bg-accent-blue after:block before:w-[100px] before:h-[2px] before:bg-accent-blue before:block flex items-center gap-2 text-accent-blue py-1"
>
  <Cross size={28} />
</div>
