---
import { Image } from "astro:assets"
const { imgSrc, imgAlt } = Astro.props;
---
<section class="container mx-auto pb-10">

    <div class="grid grid-cols-2 gap-[40px]">
        <div class="flex flex-col items-center justify-center gap-[30px] text-primary-blue text-justify">
            <slot/>
        </div>
        <div>
            <Image src={imgSrc} alt={imgAlt} class="rounded-3xl"/>
        </div>
    </div>

</section>